* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0.3125em 0 0 0;
  background-color: #E5E5E5;
  /* justify-content: center;  */
  /* /* display: flex; */
}

main {
  padding: 2.25em;
  min-width: 23.4375em;
  background-color: #fff;
}

.header {
  background-color: #fff;
  min-width: 23.4375em;
  display: flex;
  align-items: center;
  height: 4.0625em;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 1.25em;
}

.header--image {
  height: 100%;
  margin-right: 0.375em;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 2.5em 2.5em / 1fr 1fr;
  gap: 1.0625em;
  margin-bottom: 1.0625em;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 0.3125em;
  border: 0.0625em solid #D5D4D8;
  text-indent: 0.3125em;
  width: 100%;
}

.form--input.url {
  grid-column: 1 / 3;
}

.form--button {
  grid-column: 1 / 3;
  height: 3.125em;
  font-family: "Karla", sans-serif;
  border-radius: 0.3125em;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme {
  position: relative;
}

.meme--image {
  width: 100%;
  border-radius: 0.1875em;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.9375em 0;
  padding: 0 0.3125em;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.0625em;
  text-shadow:
      0.125em 0.125em 0 #000,
      -0.125em -0.125em 0 #000,
      0.125em -0.125em 0 #000,
      -0.125em 0.125em 0 #000,
      0 0.125em 0 #000,
      0.125em 0 0 #000,
      0 -0.125em 0 #000,
      -0.125em 0 0 #000,
      0.125em 0.125em 0.3125em #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
